<!DOCTYPE html>
<html>
<head>
<!-- 页面字符编码 -->
<meta charset="UTF-8">
<!-- 兼容性 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 自适应 -->
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>增加学生</title>
<!-- bootstrap CSS 全局 (必须)-->
<link type="text/css" rel="stylesheet"
	href="../bootstrap/css/bootstrap.min.css" />
<!-- bootstrap 主题CSS (可以省略)-->
<link type="text/css" rel="stylesheet"
	href="../bootstrap/css/bootstrap-theme.min.css" />
<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
<!--[if lt IE 9]>
      <script src="../bootstrap/ie/html5shiv.min.js"></script>
      <script src="../bootstrap/ie/respond.min.js"></script>
    <![endif]-->
<!-- jquery包 -->
<script type="text/javascript" src="../jquery/jquery-1.12.4.min.js"></script>
<!-- bootstrap 的js包 (可以省略)-->
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<!-- 添加增加的js文件包 -->
<script type="text/javascript" src="../myjs/addStudent.js"></script>
</head>
<body>
	<div class="container">
		<form action="" class="form" id="addForm">
			<fieldset>
				<legend>学生增加</legend>
				<div class="form-group">
					<label for="studentNo">学生学号：</label> <input id="studentNo"
						class="form-control" />
				</div>
				<div class="form-group">
					<label for="studentName">学生姓名：</label> <input id="studentName"
						class="form-control" />
				</div>
				<div class="form-group">
					<label for="loginPwd">学生密码：</label> <input id="loginPwd"
						class="form-control" />
				</div>
				<div class="form-group">
					<label for="studentSex">学生性别：</label>
					<div class="radio" id="studentSex">
						<label><input name="studentSex" value="1" type="radio" />男
						</label> <label><input name="studentSex" value="2" type="radio" />女</label>
					</div>
				</div>
				<div class="form-group">
					<label for="address">学生地址：</label> <input id="address"
						class="form-control" />
				</div>
				<div class="form-group">
					<label for="email">学生邮箱：</label> <input id="email"
						class="form-control" />
				</div>
				<div class="form-group">
					<label for="identityCard">身份证号：</label> <input id="identityCard"
						class="form-control" />
				</div>
				<div class="form-group">
					<label for="">学生年级：</label>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle"
							data-toggle="dropdown">
							请选择年级<span class="caret"></span>
						</button>
						<ul class="dropdown-menu ">
							<li><a href="#">一年級</a></li>
							<li class="divider"></li>
							<li><a href="#">二年級</a></li>
							<li class="divider"></li>
							<li><a href="#">三年級</a></li>
							<li class="divider"></li>
							<li><a href="#">四年級</a></li>
							<li class="divider"></li>
							<li><a href="#">五年級</a></li>
							<li class="divider"></li>
							<li><a href="#">六年級</a></li>
						</ul>
					</div>
				</div>
			</fieldset>

			<input id="add" name="add" value="增加" class="btn btn-success"/>
		</form>
	</div>
</body>
</html>