<!DOCTYPE html>
<html>
<head>
<!-- 页面字符编码 -->
<meta charset="UTF-8">
<!-- 兼容性 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 自适应 -->
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>学生查询页面</title>
<!-- bootstrap CSS 全局 (必须)-->
<link type="text/css" rel="stylesheet"
	href="../bootstrap/css/bootstrap.min.css" />
<!-- bootstrap 主题CSS (可以省略)-->
<link type="text/css" rel="stylesheet"
	href="../bootstrap/css/bootstrap-theme.min.css" />
<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
<!--[if lt IE 9]>
      <script src="../bootstrap/ie/html5shiv.min.js"></script>
      <script src="../bootstrap/ie/respond.min.js"></script>
    <![endif]-->
<!-- jquery包 -->
<script type="text/javascript" src="../jquery/jquery-1.12.4.min.js"></script>
<!-- bootstrap 的js包 (可以省略)-->
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<!-- 添加增加的js文件包 -->
<script type="text/javascript" src="../myjs/findStudent.js"></script>
</head>
<body>
<div class="container">
	<form action="" class="form">
		<div class="form-group">
			<div class='row'>
				<div class="col-lg-6">
					<label for="studentNo" >学生学号：</label>
					<input id="studentNo" class="form-control" />
				</div>
				<div class="col-lg-6">
					<label for="studentName" >学生姓名：</label>
					<input id="studentName" class="form-control" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class='row'>
				<div class="col-lg-6">
					<label for="phone" >学生电话：</label>
					<input id="phone" class="form-control" />
				</div>
				<div class="col-lg-6">
					<label for="address" >学生地址：</label>
					<input id="address" class="form-control" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class='row'>
				<div class="col-lg-6">
					<input type="button" id="find" class="form-control btn btn-success" value="查询" />
				</div>
			</div>
		</div>
	</form>
	
<table class="table">
	
</table>
	
</div>
</body>
</html>